acres
aiofiles
alembic
altair
annotated-types
anthropic
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
attrs
Authlib
babel
beautifulsoup4
bleach
blinker
blis
cachetools
catalogue
category_encoders
certifi
cffi
charset-normalizer
choreographer
ci-info
click
cloudpathlib
cloudpickle
colorama
comm
confection
configobj
configparser
contourpy
cryptography
cycler
cyclopts
cymem
Cython
dash
databricks-sdk
debugpy
decorator
defusedxml
deprecation
distro
dnspython
docker
docstring_parser
docutils
docx2pdf
email-validator
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
et_xmlfile
etelemetry
exceptiongroup
executing
fastapi
fastjsonschema
fastmcp
filelock
Flask
Flask-Bcrypt
Flask-JWT-Extended
Flask-Migrate
Flask-SQLAlchemy
flask-cors
fonttools
fqdn
frontend
fsspec
gitdb
GitPython
google-auth
google-generativeai
graphene
graphql-core
graphql-relay
greenlet
h11
hf-xet
httpcore
httplib2
httpx
httpx-sse
huggingface-hub
idna
imbalanced-learn
importlib_metadata
importlib_resources
iniconfig
ipykernel
ipython
ipython_pygments_lexers
ipywidgets
isodate
isoduration
itsdangerous
jedi
Jinja2
jiter
joblib
json5
jsonpointer
jsonschema
jsonschema-path
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
kaleido
kiwisolver
langcodes
language_data
lark
lazy-object-proxy
lightgbm
llvmlite
logistro
looseversion
lxml
Mako
marisa-trie
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mcp
mdurl
mistune
mlflow
mlflow-skinny
mlflow-tracing
more-itertools
mpmath
murmurhash
mysql
mysql-connector-python
mysqlclient
narwhals
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nibabel
nipype
notebook
notebook_shim
numba
numpy
openapi-core
openapi-pydantic
openapi-schema-validator
openapi-spec-validator
openpyxl
opentelemetry-api
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
orjson
outcome
overrides
packaging
pandas
pandocfilters
parse
parso
pathable
pathlib
patsy
pillow
platformdirs
plotly
plotly-resampler
pluggy
pmdarima
preshed
prometheus_client
prompt_toolkit
protobuf
prov
psutil
pure_eval
puremagic
pyarrow
pyasn1
pyasn1_modules
pycaret
pycparser
pydantic
pydantic-settings
pydantic_core
pydeck
pydot
Pygments
PyJWT
PyMuPDF
PyMySQL
pyod
pyparsing
pyperclip
pypandoc
PySocks
pytest
pytest-timeout
python-dateutil
python-docx
python-dotenv
python-json-logger
python-multipart
pytesseract
pytz
pywin32
pywinpty
pyxnat
PyYAML
pyzmq
rdflib
referencing
regex
reportlab
requests
retrying
rfc3339-validator
rfc3986-validator
rfc3987-syntax
rich
rich-rst
rpds-py
rsa
safetensors
schemdraw
scikit-base
scikit-learn
scikit-plot
scipy
seaborn
selenium
Send2Trash
shellingham
simplejson
six
sktime
smart_open
smmap
sniffio
sortedcontainers
soupsieve
spacy
spacy-legacy
spacy-loggers
SQLAlchemy
sqlparse
srsly
sse-starlette
stack-data
starlette
statsmodels
streamlit
streamlit-option-menu
sympy
tbats
tenacity
terminado
thinc
threadpoolctl
tinycss2
tokenizers
toml
torch
tornado
tqdm
traitlets
traits
transformers
trio
trio-websocket
tsdownsample
typer
types-python-dateutil
typing-inspection
typing_extensions
tzdata
uri-template
urllib3
uvicorn
waitress
wasabi
watchdog
wcwidth
weasel
webcolors
webdriver-manager
webencodings
websocket-client
Werkzeug
widgetsnbextension
wrapt
wsproto
xxhash
yellowbrick
zipp